@import "tailwindcss";
@import "https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Inter:wght@300;400;500;600;700;800;900&display=swap";
@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
  
  --color-ritz-blue: #0F172A;
  --color-ritz-gold: #C5A059;
}

body {
  font-family: var(--font-sans);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  background-color: #f8fafc; /* slate-50 */
  color: #0f172a; /* slate-900 */
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, .font-serif {
  font-family: var(--font-serif);
}

::selection {
  background-color: var(--color-ritz-gold);
  color: var(--color-ritz-blue);
}
